<div class="container1" style="background-color: #f5f5f5;">
  <div class="row">
    <div>
      <img style="width: 100%;" src="../assets/img/Banner principal.png" />
      <div class="texto-encima">
          ¿Eres Director o Gerente de Empresa, de Ingeniería o de Tecnologias de información?
        
        
      </div>

      <div class="centrado">En esta Masterclass podrás contar con una <b>GUÍA</b> del proyecto para su transformación.
        Además,
        contarás con el <b>ANÁLISIS</b> de procesos,
        selección de <b>TECNOLOGÍAS</b> y su <b>ESTRATEGIA</b> para implementarla
      </div>
    </div>

    <div class="row" style="text-align: center; color: black; border-radius: 1px!important; margin-top: 20px;">
      <h2 style="font-size: 20px !important;">Impartido por <br>
        Mtro. Rosalino Zamorano</h2>
    </div>


  </div>

  <div class="row col-md-12 cuadros">

    <div class="col-md-4" style="background-color: #ffff; border-top: 10px; border-style: solid; border-radius: 35px;">
      <img style="margin-left: 80px;" src="../assets/img/Estrella.png" alt="">
      <br>
      <br>
      <div>
        Amplia experiencia como <br>
        Director de Tecnologias de la <br>
        información
      </div>

    </div>

    <div class="col-md-8 viñetas">
      <img src="../assets/img/Flecha.png" alt=""><span style="text-align: justify  !important;">
        Administración de servicios de TI, recursos informáticos y contratos de servicios <br> en sede principal
        y 5 subsedes (INTRANET)
      </span>
      <br>
      <br>
      <img src="../assets/img/Flecha.png" alt=""><span style="text-align: justify  !important;">
        Consolidación de implementación del ERP BAAN V
      </span>
      <br>
      <br>
      <img src="../assets/img/Flecha.png" alt=""><span style="text-align: justify  !important;">
        Diseño y construccion de los MDF´s de la INTRANET
      </span>
      <br>
      <br>
      <img src="../assets/img/Flecha.png" alt=""><span style="text-align: justify  !important;">
        Migración de operación crítica de Data Center Comercial
      </span>


    </div>


  </div>



  <br>

  <div class=" row col-md-12" style="padding: 20px; padding-left: 195px;">

    <div class="col-md-4" style="background-color: #ffff; border-top: 10px; border-style: solid; border-radius: 35px;">
      <img style="margin-left: 80px;" src="../assets/img/Estrella.png" alt="">
      <br>
      <br>
      <div>
        Ingeniero en proyectos de implementación de ERP BAAN V y diseño e implementación de red de comunicaciones y
        telecomunicaciones CIDESI
      </div>



    </div>

    <div class="col-md-1"></div>

    <div class="col-md-7"
      style="background-color: #ffff; border-top: 10px; border-style: solid; border-radius: 35px; padding: 10px;">
      <img style="margin-left: 80px;" src="../assets/img/Estrella.png" alt="">
      <br>
      <br>
      <div>
        <ul>
          <li>Gerente de cómputo y comunicaciones</li>
          <li>Gerente de desarrollo de Software</li>
          <li>Desarrolador de Sistemas </li>
          <li>Administrador de Redes y Equipos de Cómputo </li>

        </ul>
      </div>




    </div>


  </div>

  <br>

  <div class="col-md-12" style="background-color: #ffff; height: 300px;">

    <div class="col-md-12" style="display: flex; justify-content: center;">
      <div style="width: 380px; color: #1eba88; font-size: 30px;">
        <b>Evento gratuito </b>&nbsp; dirigido a profesionales de la Industria
      </div>
    </div>
    <br>
    <div class="row" style="padding: 15px; padding-left: 85px; font-size: 20px;">
      <div class="col-md-4">
        <div style="display: flex;">
          <div class="cuadrado">
          </div>
          <div style="margin-left: 15px; ">
            <div>
              "Nuestro mercado es global, pero nuestra competencia tambien esta de ese tamaño"
            </div>

          </div>
        </div>

        <!--  -->
      </div>
      <div class="col-md-4">
        <div style="display: flex;">
          <div class="cuadrado">
          </div>
          <div style="margin-left: 15px; ">
            <div>
              "Agilidad en los procesos, ventaja competitiva en desarrollo de productos y eficiente
              aplicacion de los recursos con mejor ROI"
            </div>

          </div>
        </div>

        <!--  -->
      </div>
      <div class="col-md-4">
        <div style="display: flex;">
          <div class="cuadrado">
          </div>
          <div style="margin-left: 15px; ">
            <div>
              "La transformación Digital provoca que todo sea mas rápido y eficiente"
            </div>

          </div>
        </div>

        <!--  -->
      </div>

    </div>
    <br>

    <div class="col-md-12" style="background-color: #f5f5f5; ">

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="font-size: 40px; margin-top: 100px;">
          <b>La transformación Digital provoca que todo sea mas rápido y eficiente</b>
          <br>
          <br>
          <div style="font-size: 15px; position:relative; justify-content: center; display: grid;">
            <b>"La capacidad de adaptarse a la nueva realidad es la clave de la Transformación Digital"</b>
          </div>
          <br>

          <div style="display: flex; justify-content: center;">
            <iframe style="width: 500px; height: 250px;"
              src="https://www.youtube.com/embed/VxavqqY2xAo?si=vXblFArCT4Osqse4" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>



          <div style="display: flex; justify-content: center; margin-top: 90px;">
            <b style="font-size: 20px; color: #1eba88;">Descubre entre otros temas:</b>
          </div>

          <br>
          <div style="font-size: 16px; display: flex; flex-direction: column; margin-left: 55px;">
            <div><img src="../assets/img/Estrategia.png" alt=""><span class="temas">Estrategia</span></div>
            <br>
            <div><img style="margin-left: 10px;" src="../assets/img/Tecnología.png" alt=""><span
                class="temas">Selección
                de tecnologías</span></div>
            <br>
            <div><img src="../assets/img/Análisi de procesos.png" alt=""><span class="temas">Analisis de procesos en la
                Industria 4.0</span></div>
            <br>
            <div><img src="../assets/img/Hoja de ruta.png" alt=""><span class="temas">Hoja de ruta para una
                implementación
                exitos</span></div>
            <br>
            <div><img src="../assets/img/Qué hacer.png" alt=""><span class="temas">Qué hacer para obtener el máximo
                aprovechamiento</span></div>
          </div>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-5"
          style="border-radius: 30px; border-color: black; border-style: hidden; margin-top: 100px; width: 500px; height: 690px; background-color: #ffff; ">
          <div style="color: #1c8c90; font-size: 30px; text-align: center; margin-top: 20px;">No pierdas la oportunidad
            <br>¡Regístrate ahora!
          </div>
          <br>

          <div style="display: flex; justify-content: center;">

            <form [formGroup]="formulario">
              <div>
                <label for="nombre"><b>Nombre</b></label>
                <input class="form-control" style="width: 400px;" type="text" id="nombre" formControlName="nombre">
              </div>

              <div>
                <label for="apellido"><b>Apellido</b></label>
                <input class="form-control" style="width: 400px;" type="email" id="apellido" formControlName="apellido">
              </div>

              <div>
                <label for="telefono"><b>Teléfono o celular</b></label>
                <input class="form-control" style="width: 400px;" type="text" id="telefono" formControlName="telefono">
              </div>

              <div>
                <label for="empresa"><b>Empresa</b></label>
                <input class="form-control" style="width: 400px;" type="text" id="empresa" formControlName="empresa">
              </div>

              <div>
                <label for="cargo"><b>Cargo</b></label>
                <input class="form-control" style="width: 400px;" type="email" id="cargo" formControlName="cargo">
              </div>

              <div>
                <label for="email"><b>Mail</b></label>
                <input class="form-control" style="width: 400px;" type="text" id="email" formControlName="email">
              </div>

              <div class="form-group">
                <label for="entidad"><b>Entidad Federativa</b></label>
                <select class="form-control" id="entidad">
                  <option>México</option>
                  <option>Aguascalientes</option>
                  <option>Tamaulipas</option>
                  <option>Oaxaca</option>
                  <option>Baja California</option>
                </select>
              </div>
              <br>
              <div style="display: flex; justify-content: center;">
                <button class="btn btn-primary" style="width: 150px; margin-bottom: 20px;  " type="submit"
                  (click)="superHero()">Enviar</button>
              </div>
            </form>

          </div>

        </div>


      </div>
      <br>
      <br>

    </div>

    <div style="background-color: #1c8c90; width: 100%; height: 70px;">
      <div style="display: flex; justify-content: end;">
        <img style="margin-top: 20px;" src="../assets/img/DMD Logo.png" alt="">
      </div>

    </div>
  </div>